<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.0856403 -0.00224195 0.0225674" rpy="3.13135 -2.82018 1.57548" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.0856403 -0.00224195 0.0225674   0.1093 -0.116979 -0.69577 0.700196 tool0 camera_01_rgb_optical_frame" />
</launch>
