<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.0104337 0.18926 0.128024" rpy="0.476248 -0.335135 -2.41478" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.0104337 0.18926 0.128024   -0.234165 -0.159775 0.909578 -0.303819 tool0 camera_01_rgb_optical_frame" />
</launch>
